

{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}
   Login user
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Login page</h1>

            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="login" %}
            </form>
        </div>
    </div>
</div>






{% endblock content %}
</body>
</html>