{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}
            Django app
        {% endblock  %}
    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  </head>

  <body>
    <nav style="display: flex; justify-content: space-between">
      <div>logo</div>
      <ul>
        <li>
          <a href="{% url 'about:index' %}">About</a>
        </li>
      </ul>
      <div>kareem</div>
    </nav>

    {% for name in names %}
    <span>{{ forloop.counter0 }}</span>
    <p>{{ name }}</p>
    {% endfor %} {% block content %} {% endblock content %}

    <footer>footer</footer>
  </body>
</html>
